html, body {
    height: 100%;
}
header{
    color: white;
}
body {
    margin: 0;
    font-family: 'Fredoka One', Arial, sans-serif;
    background-color: white; 
    background-size: cover; /* Ensure the background image covers the entire screen*/
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Prevent the background image from scrolling with the page*/
    flex-direction: column;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ff1f11;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header img {
    height: 50px;
    border-radius: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 25px; /* Increased border-radius to make it round */
    padding: 0.5rem;
    margin-left:0;
    width: 40%;
    position: relative;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 25px; 
}

.search-bar img {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.icons {
    position: relative;
    left: -5em;
    display: flex;
    align-items: center;
}

.icons img {
    margin-left: 15px;
    height: 30px;
    cursor: pointer;
}

.icons img[alt="Favoris"],
.icons img[alt="User"],
.icons img[alt="Cart"] {
    height: 40px; /* Increase the size of the heart, user, and shopping cart logos */
}

.langue {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    left: 5em;
}


.langue img {
    border-radius: 0; /* Ensure the flag image does not have a border radius */
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #ff1f11;
    padding: 10px 0;
    font-size: 16px;
}

.menu div {
    cursor: pointer; 
}

/* menu deroulant */


.deroulant {
    background: none; /* Pas de fond */
    border: none; /* Pas de bordure */
    color: inherit; /* Couleur héritée (texte similaire au reste) */
    font: inherit; /* Police héritée */
    cursor: pointer; /* Curseur en mode clic */
}

.liste-deroulant {
    display: none; 
    position: absolute;
    background-color: #f1f1f1; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
    border-radius: 4px; 
}


.liste-deroulant a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}


.liste-deroulant a:hover {
    background-color: #ddd; 
}


.liste-deroulant a:hover {background-color: #ddd;}
  
.menu-age:hover  .liste-deroulant {display: block;}
.menu-taille:hover .liste-deroulant {display: block;}
.menu-type:hover  .liste-deroulant {display: block;}
.menu-promo:hover  .liste-deroulant {display: block;}
.menu-meilleur-ventes:hover  .liste-deroulant {display: block;}



/* accueil produits et guirlandes */

.img-acceuil img {
    width: 100%;
    height: auto;
    display: block;
}

.produits-accueil {
    margin-top: 3%;
    display: flex;
    gap: 100px;
    align-items: flex-end; /* Alignement vertical en bas pour les images */
    justify-content: center;
    text-align: center;  
    flex-direction: row;
}

.prix p {
    font-size: 85%;
}

.button {
    border: none;
    border-radius: 25px;
    background-color: #ff1f11;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


/* detailProduit */

/* description du produit*/

.presentation{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: flex-start;
    width: 60%;
    gap: 15%;
    margin-top: 5%;
}

.prixDescription h2 {
    text-align: end;
}

.butFavoris {
    border-color: grey;
    width: 45px; /* Largeur du bouton */
    height: 45px; /* Hauteur identique pour obtenir un cercle */
    border-radius: 50%; /* Transformation en cercle */
    background-color: white;
    align-items: center;
    margin: 4px 2px;
    cursor: pointer;
  }

.texteDescriptif {
    background-color: #ff1f11;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #fff;
    text-align: justify;
}

/* avis/eval du produit*/

.avis {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #00B928;
    color: #fff;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.butAvatar {
    border: none;
    width: 45px; /* Largeur du bouton */
    height: 45px; /* Hauteur identique pour obtenir un cercle */
    border-radius: 50%; /* Transformation en cercle */
    background-color: white;
    align-items: center;
    cursor: pointer;
}

.butAvatar img {
    width: 100%;
}


.evaluation {
    display: flex;
    flex-direction: column;
    background-color: #00a023;
    color: black;
    margin-top: 1%;
    padding: 20px;
    border-radius: 5px;
}

.notes {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.eval-perso {
    margin-top: 2%;
    color: #000;
    text-align: justify;
}

.date-avis {
    text-align: end;
    margin-right: 2%;
}


    

/* footer */


footer {
    margin-top: 12%;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif, Arial;
}

.footer-contenu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}

.footer-column {
    padding: 0px;
}

.footer-column h3 {
    font-size: 22px;
}

.footer-column p {
    cursor: pointer;
}

.footer-column p:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: right; 
    font-size: 12px;
    color: #aaa;
}

