html, body {
    height: 100%;
}
header{
    color: white;
}
body {
    margin: 0;
    font-family: 'Fredoka One', Arial, sans-serif;
    background-color: white; 
    flex-direction: column;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #ff1f11;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header img {
    height: 50px;
    border-radius: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 25px; /* Increased border-radius to make it round */
    padding: 0.5rem;
    margin-left:0;
    width: 40%;
    position: relative;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 25px; 
}

.search-bar img {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.icons {
    position: relative;
    left: -5em;
    display: flex;
    align-items: center;
}

.icons img {
    margin-left: 15px;
    height: 30px;
    cursor: pointer;
}

.icons img[alt="Favoris"],
.icons img[alt="User"],
.icons img[alt="Cart"] {
    height: 40px; /* Increase the size of the heart, user, and shopping cart logos */
}

.langue {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    left: 5em;
}


.langue img {
    border-radius: 0; /* Ensure the flag image does not have a border radius */
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #ff1f11;
    padding: 10px 0;
    font-size: 16px;
}

.menu div {
    cursor: pointer; 
}

.img-acceuil img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    flex: 1;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    font-family: sans-serif, Arial;
    margin-top: 10em;
}

.footer-contenu {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    margin: 0 20px;
}

.footer-column {
    flex: 1;
    padding: 0px;
}

.footer-column h3 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}

.footer-column p {
    margin: 5px 0;
    cursor: pointer;
}

.footer-column p:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: right; 
    font-size: 12px;
    color: #aaa;
}
