body {
    margin: 0;
    font-family: 'Fredoka One', Arial, sans-serif;
    background-color: #8B0000; /* Dark red */
    background-image: url('fond.jpg');
    background-size: cover; /* Ensure the background image covers the entire screen*/
    background-repeat: no-repeat;
    background-attachment: fixed;  /* Prevent the background image from scrolling with the page*/
    color: white;
}

.header {
    background-color: #ff1f11;
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.header img {
    height: 50px;
    border-radius: 25px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 25px; /* Increased border-radius to make it round */
    padding: 0.5rem;
    width: 40%;
    position: relative;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 25px; /* Ensure the input inside is also round */
}

.search-bar img {
    position: absolute;
    right: 10px;
    height: 20px;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    margin-left: 15px;
    height: 30px;
    cursor: pointer;
}

.icons img[alt="Favoris"],
.icons img[alt="User"],
.icons img[alt="Cart"] {
    height: 40px; /* Increase the size of the heart, user, and shopping cart logos */
}

.langue {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.langue img {
    border-radius: 0; /* Ensure the flag image does not have a border radius */
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #ff1f11;
    padding: 10px 0;
    font-size: 16px;
}

.menu div {
    cursor: pointer; 
}
