.Button {
    -fx-background-color: linear-gradient(to bottom, #bbdefb, #64b5f6); /* Dégradé bleu un peu plus foncé */
    -fx-text-fill: #333333; /* Texte gris foncé pour un meilleur contraste */
    -fx-font-weight: normal; /* Police normale pour un style plus sobre */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.2, 1, 1); /* Ombre discrète */
    -fx-padding: 10px 15px; /* Marges internes pour un bouton bien espacé */
}

.Menu {
    -fx-background-color: linear-gradient(to bottom, #e3f2fd, #90caf9); /* Dégradé bleu clair doux */
}

.Label {
    -fx-text-fill: #424242; /* Couleur gris moyen pour un texte apaisant */
    -fx-font-size: 20px; /* Taille de police légèrement réduite */
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0.1, 1, 1); /* Ombre très légère */
}

.Titre {
    -fx-font-size: 22px; 
}

.Sous-titre {
    -fx-font-size: 14px;
    -fx-font-family: "Arial"; 
}

.Donnee {
    -fx-font-size: 14px; 
}

